---
import List from "./List.astro";
interface Props {
  subtitle: string;
  paragraph1?: string;
  paragraph2?: string;
  paragraph3?: string;
  paragraph4?: string;
  tamanio?: string;
}
const { subtitle, paragraph1, paragraph2, paragraph3, paragraph4, tamanio } =
  Astro.props;
const paragraphs = [paragraph1, paragraph2, paragraph3, paragraph4].filter(
  Boolean
);
const applySpacing = paragraphs.length > 1;
---

<details class="list-none flex flex-col">
  <summary
    style={`font-size: ${tamanio} || 'inherit'; box-shadow: rgba(0, 0, 0, 0.5) 0 4px 5px inset, rgba(0, 0, 0, 0.5) 0 -4px 5px inset;`}
    class="border-y border-[#E3E3E3] w-full list-none text-6xl font-bold text-[#E3E3E3] cursor-default shadow-x text-center py-2"
    set:html={subtitle}
  />
  <div class={applySpacing ? "space-y-4" : ""}>
    {
      paragraph1 && (
        <>
          <p class="text-white font-bold text-3xl max-w-6xl mx-auto sm:px-6 lg:px-8 pt-4 text-center">
            {paragraph1}
          </p>
        </>
      )
    }
    {
      paragraph2 && (
        <p
          class="text-white font-bold text-3xl max-w-6xl mx-auto sm:px-6 lg:px-8 text-center"
          set:html={paragraph2}
        />
      )
    }
    {
      paragraph3 && (
        <p class="text-white font-bold text-3xl max-w-6xl mx-auto sm:px-6 lg:px-8 text-center">
          {paragraph3}
        </p>
      )
    }
    {
      paragraph4 && (
        <p class="text-white font-bold text-3xl max-w-6xl mx-auto sm:px-6 lg:px-8 text-center">
          {paragraph4}
        </p>
      )
    }
    <slot />
  </div>
</details>
